{% extends 'base.html' %}
{% block container %}
  <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Найдите идеального <br>репетитора английского, <br>занимайтесь онлайн</strong></h1>
  <div class="text-center mb-5">
    <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
      {% for k,e in goals.items() %}
        <a href="{{url_for('goal', goal=k)}}" class="btn btn-outline-secondary">{{goals_emoji[k]+" "+e}}</a>
      {% endfor %}
    </div>
  </div>
  <h2 class="h5 text-center mb-5">Наши преподаватели</h2>
  {% include 'teacher_list.html' %}
{% endblock %}