{% extends 'base.html' %}
{% block container %}
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">
                    <section class="teacher=info">
                        <h1 class="h2">{{ teacher.name }}</h1>
                        <p>
                            {% for e in teacher.goals %}
                                <span class="badge badge-secondary mr-2">{{ e.emoji+" "+e.value}}</span>
                            {% endfor %}
                        </p>
                        <p>
                            <b>Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</b>
                        </p>
                        <p>{{ teacher.about }}</p>
                    </section>
                </div>
                <div class="container">
                    <section class="available">
                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        {% for day_key,day_value in days.items() %}
                            <h6 class="mt-4">{{day_value.capitalize()}}</h6>
                            {% if True in (teacher.free[day_key]).values() %}
                                {% for k, e in (teacher.free[day_key]).items() %}
                                    {% if e %}
                                        <a href="{{url_for('booking', teacher_id=teacher.id, day=day_key, time=k.split(':')[0]|int)}}" class="btn btn-outline-success  mr-2">{{ k }} свободно</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>Нет свободных уроков</p>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}